# API accesses database using root user and password
# I might change this in the future
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=
MYSQL_USER=user
MYSQL_PASSWORD=
# see gyncer.sql for the database schema
MYSQL_DATABASE=Gyncer
# you might want to override this if you have MySQL running for different
# projects to prevent port conflict
MYSQL_HOST_PORT=3306
# openssl rand -base64 64
JWT_SECRET=
# debug | release
GIN_MODE=
# Meta sync frequency in minutes
# I don't forsee this running for than once per minute so that's why I chose it
# ex: 5 will have gyncer scan for new syncs every 5 minutes
GYNCER_META_SYNC_FREQUENCY=